form {
	background-color: lightgray;
	padding: 5%;
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}

form input {
	padding: 1em;
	border: 1px solid black;
	border-radius: 0px;
	width: 40%;
}

form input:focus {
	outline: none;
	box-shadow: 0 0 1px 3px lightseagreen;
}

form input[type=submit] {
	border-radius: 5px;
	background-color: white;
}

form input[type=submit]:hover {
	background-color: lightseagreen;
	color: white;
	border-color: white;
}

form figure {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

form figure label {
	width: 40%;
	padding: 1% 0;;
}
