header
{
	width: 100vw;
	height: 5.5em;

	background-color: var(--accent-black);
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 1.5em;
	margin-bottom: 1.5em;
}

header #logo
{
	width: auto;
	height: 3em;

	object-fit: contain;
}

header #links
{
	gap: 5em;
}

header #links a
{
	color: white;

	text-decoration: none;
}
