#welcome_img
{
	overflow: hidden;

	background: linear-gradient(rgba(80, 80, 80, 60%), rgba(80, 80, 80, 60%)), url("/resources/img/welcome.jpeg");
	background-size: cover;
	background-position: 0% 40%;

	width: 100%;
	flex: 1 0 165%;
}

#welcome_img span
{
	background-color: var(--accent-green);

	padding: 1em 2em;

	color: white;
	font-size: x-large;
	font-weight: 700;
}
