<!DOCTYPE html>
<html>
	<head>
		<title>Nimbus Drive</title>

		<include href="ui.htm" />
		<link rel="stylesheet" type="text/css" href="/resources/css/home.css">
	</head>

	<body>
		<div class="ui sidebar"></div>

		<div class="pusher">
			<include href="navbar.htm" />

			<div id="header">
				<div class="ui container">
					<h1 class="ui inverted huge header">Nimbus Drive</h1>
					<h1 class="ui inverted header">Cloud Storage Solution</h1>
				</div>
			</div>

			<div class="ui container">
				<div class="ui inverted segment">
					<h1 class="ui medium header">Words</h1>
					<div class="ui inverted divider"></div>

					<p>
						Lorem ipsum odor amet, consectetuer adipiscing elit. Tempor curabitur potenti litora risus facilisis tempus fusce. Velit donec hendrerit etiam consectetur imperdiet etiam urna phasellus. Tempor vestibulum tellus est torquent interdum facilisi nam orci. Elementum vulputate gravida porta nibh pellentesque luctus leo cursus. Vivamus magna vel diam tortor; natoque elementum auctor ad. Sodales habitant porta mus sagittis accumsan efficitur curae senectus potenti. Arcu mollis in magna facilisis hendrerit gravida vel. Congue magna cras purus accumsan leo nunc.

						Est maecenas nullam interdum sociosqu tempor condimentum accumsan velit. Turpis ex quam mollis; vitae quisque ligula consectetur in. Vulputate condimentum suscipit ridiculus interdum arcu lacinia. Blandit arcu facilisis luctus inceptos ad sagittis tellus. Conubia etiam vitae turpis; eleifend etiam posuere. Eget morbi cursus tempor sapien donec mus ridiculus ornare interdum.

						Dis amet nec eros cursus nulla morbi fermentum. Diam pellentesque ipsum et senectus lacus. Primis natoque augue mus aliquam auctor tempus. Suspendisse imperdiet interdum nisi leo faucibus cubilia molestie. Suspendisse taciti nostra imperdiet integer suscipit. Quam nibh magna aenean vitae finibus semper etiam. Himenaeos viverra neque mauris facilisi fermentum cras augue arcu. Phasellus ornare curabitur posuere mollis tempor.

						Aliquam at suspendisse velit, a congue inceptos venenatis vehicula. Integer non mattis etiam suscipit interdum fusce. Imperdiet suspendisse platea iaculis netus senectus; nulla tristique cras. Est gravida interdum est quam sociosqu enim. Donec vivamus ipsum sem euismod interdum risus ornare. Neque curae velit commodo eu sem convallis. Taciti vestibulum lacinia netus libero tincidunt varius metus primis. Interdum curae vestibulum nisi curae turpis neque tristique. Vestibulum donec penatibus praesent inceptos cursus vulputate finibus.

						Tellus suscipit inceptos montes enim molestie velit massa pharetra. Tempor platea duis laoreet sollicitudin porttitor inceptos cubilia venenatis torquent. Nec ultrices hendrerit nostra habitant rutrum felis. Rhoncus nascetur est pharetra; vehicula placerat mus. Ad est suspendisse hendrerit nisl eleifend. Efficitur nunc class at placerat duis. Ex magna nisl quam tempor at felis scelerisque augue facilisi. Tempus pellentesque curabitur risus id tellus ullamcorper. Sollicitudin taciti venenatis morbi viverra consequat odio tortor curabitur ultricies. Laoreet venenatis congue tellus diam class eros felis sapien ut.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
