<!DOCTYPE html>
<html>
	<head>
		<title>Nimbus Drive</title>

		<include href="ui.htm" />
		<link rel="stylesheet" type="text/css" href="/resources/css/home.css">
	</head>

	<body>
		<div class="ui sidebar"></div>

		<div class="pusher">
			<include href="navbar.htm" />

			<div id="header" class="ui">
				<div class="ui container">
					<h1 class="ui huge header">Nimbus Drive</h1>
					<h1 class="ui header">Cloud Storage Solution</h1>
				</div>
			</div>

			<div class="ui hidden divider"></div>

			<div class="ui container">
				<div class="ui segment">
					<h1 class="ui medium header">What Should This Say</h1>
					<div class="ui divider"></div>

					<div class="ui three column stackable grid equal container">
						<div class="stretched row">
							<div class="column">
								<div class="ui red raised segment">
									<i class="shield alternate icon huge"></i>

									<h3>Military-Grade Security</h3>
									<p>Not really</p>
								</div>
							</div>

							<div class="column">
								<div class="ui green raised segment">
									<i class="sync icon huge"></i>

									<h3>Seamless Sync</h3>
									<p>Automatic sync across all your devices</p>
								</div>
							</div>

							<div class="column">
								<div class="ui blue raised segment">
									<i class="users icon huge"></i>

									<h3>File Sharing</h3>
									<p>Share your files with whoever you wish this needs reworded better</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ui segment">
					<h1 class="ui medium header">Hello World</h1>
					<div class="ui divider"></div>

					<p>Hello There</p>
				</div>
			</div>

			<include href="footer.htm" />
		</div>
	</body>
</html>
