<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>

		<include href="base/style.htm" />
	</head>

	<body>
		<include href="base/header.htm" />

		<form action="./login" method="POST">
			<h1>Login</h1>

			<figure>
				<label for="email_address">Email</label>
			    <input type="email" name="email_address" placeholder="Enter your email..." required />
			</figure>
			
			<figure>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Enter your password..." required />
			</figure>

			<input type="submit" value="Login" />
		</form>
	</body>
</html>
