<!DOCTYPE html>
<html>
	<head>
		<title>Nimbus Drive</title>
		<include href="base/style.htm" />
	</head>

	<body>
		<include href="base/header.htm" />
		<check if="{{ @SESSION && @SESSION.user }}">
			<true>
				<p>Hello There {{ @SESSION.user.first_name }} :)</p>

				<a href="./logout"><p>logout</p></a>
				<a href="./upload"><p>upload</p></a>
			</true>

			<false>
				<p>Hello There :)</p>
			</false>
		</check>

		<a href="./login"><p>login</p></a>
		<a href="./signup"><p>sign up</p></a>
	</body>
</html>
