<!DOCTYPE html>
<html>
	<head>
		<title>Nimbus Drive</title>
		<include href="base/style.htm" />
	</head>

	<body>
		<include href="base/header.htm" />

		<div class="welcome-img-container"><span>Nimbus Drive</span></div>

		<p class="welcome-msg">Lorem ipsum dolor sit amet. In voluptatibus laboriosam id dolorum labore qui molestiae debitis
			sit reiciendis consectetur ut perspiciatis cupiditate. Sit optio recusandae sit beatae molestiae ut sequi
			velit ut consectetur sint qui expedita rerum. Non quia quaerat qui vitae laboriosam in numquam fuga. Hic illum
			obcaecati ut mollitia molestiae est voluptatem quis et neque voluptatibus est earum perferendis non quas quia.
			In rerum unde est cupiditate praesentium cum voluptatem recusandae eum corporis optio et molestiae cumque qui fugiat consequatur.
			Et repellat dolores ea dolor internos qui galisum voluptatem sed inventore veritatis. Qui laboriosam commodi et exercitationem
		    exercitationem et nulla itaque sed molestias numquam ut expedita saepe et voluptatibus nostrum et maiores dolore.
			Ea nostrum saepe At magni eligendi et galisum dolorem et tenetur porro.
			Rem voluptates natus ut autem temporibus in sequi temporibus qui ducimus consequatur et unde facere qui neque eveniet.
			Non error repellat est ipsum dolorum quo voluptatibus error ut aliquam internos. Et eaque saepe qui libero nemo qui repellendus culpa!
			Ad ducimus internos ex officia molestiae est commodi quasi et galisum optio nam dolorem aspernatur.
			Qui cumque quisquam est officia neque aut quas odit et quibusdam repellat At reiciendis soluta.
			Aut voluptatem doloribus ea facilis delectus vel odio facere sed animi ipsam.
			Et error aperiam vel fugit quos hic iure explicabo sed laudantium sapiente ad facere omnis sed eveniet enim aut internos pariatur.
			Aut aliquam quia et maxime facilis et saepe ipsum et ipsum voluptate et asperiores dolores. </p>
	</body>
</html>
