<link rel="stylesheet" type="text/css" href="/resources/css/navbar.css">

<nav class="ui fixed menu">
	<a href="/" class="header item">
		<div class="ui horizontal list">
			<div class="item">
				<img class="ui image" src="/resources/img/logo.png">
			</div>
		</div>
	</a>

	<div class="right menu">
		<check if="{{ @SESSION && @SESSION.user }}">
			<true>
				<a class="item" href="/drive">
					<i class="cloud icon"></i>
					My Drive
				</a>

				<a class="item" href="/logout">
					<i class="lock icon"></i>
					Log Out
				</a>
			</true>

			<false>
				<a class="item" href="/login">
					<i class="lock open icon"></i>
					Login
				</a>

				<a class="item" href="/signup">
					<i class="user add icon"></i>
					Sign Up
				</a>
			</false>
		</check>
	</div>
</nav>
