<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>

		<include href="base/style.htm" />
	</head>

	<body>
		<include href="base/header.htm" />
		<form action="./signup" method="POST">
			<h1>Signup</h1>

			<figure>
				<label for="first_name">First name</label>
				<input type="text" name="first_name" placeholder="Enter your first name..." required />
			</figure>

			<figure>
				<label for="last_name">Last name</label>
				<input type="text" name="last_name" placeholder="Enter your last name..." required />
			</figure>

			<figure>
				<label for="email_address">Email</label>
				<input type="email" name="email_address" placeholder="Enter your email address..." required />
			</figure>

			<figure>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Enter your password..." required />
			</figure>

			<figure>
				<input type="password" name="password_verify" placeholder="Confirm password..." required />
			</figure>

			<input type="submit" value="Signup" />
		</form>
	</body>
</html>
