<!DOCTYPE html>
<html>
	<head>
		<title>Nimbus Drive — My Drive</title>

		<include href="ui.htm" />

		<script type="text/javascript" src="/resources/js/drive.js"></script>
	</head>

	<body>
		<div class="ui sidebar"></div>

		<div class="pusher">
			<include href="navbar.htm" />

			<include href="drive/sidebar.htm" />

			<div class="ui container">
				<ul>
					<repeat group="{{ @FileList }}" value="{{ @Item }}" key="{{ @Name }}">
						<check if="{{ isset(@Item['Data']) }}">
							<true>
								<check if="{{ @Item['Data']['hash'] !== NULL }}">
									<true>
										<li>{{ @Name }}</li>
									</true>
								</check>
							</true>

							<false>
								<li><a href="{{ '/drive/main/' . @Name }}">{{ @Name }}</a></li>
							</false>
						</check>
					</repeat>
				</ul>
			</div>
		</div>
	</body>
</html>
