<!DOCTYPE html>
<html>
	<head>
		<title>Nimbus Drive — My Drive</title>

		<include href="ui.htm" />
		<link rel="stylesheet" type="text/css" href="/resources/css/drivefiles.css">

		<script type="text/javascript" src="/resources/js/drive.js"></script>
	</head>

	<body>
		<div class="ui sidebar"></div>

		<div class="pusher">
			<include href="navbar.htm" />

			<div class="flex">
				<include href="drive/sidebar.htm" />

				<div class="ui container">
					<ul id="file_list">
						<repeat group="{{ @FileList }}" value="{{ @Item }}" key="{{ @Name }}">
							<check if="{{ !isset(@Item['Data']) }}">
								<true>
									<a href="{{ '/drive/main/' . @Name }}">
								</true>
							</check>

							<check if="{{ isset(@Item['Data']) }}">
								<true>
									<check if="{{ @Item['Data']['hash'] !== NULL }}">
										<true>
											<div class="ui segment">
												<li>
													<i class="file outline icon"></i>
													{{ @Name }}

													<i class="red trash icon floated"></i>
													<i class="blue pencil icon floated"></i>
												</li>
											</div>
										</true>
									</check>
								</true>

								<false>
									<div class="ui segment">
										<li>
											<i class="blue folder icon"></i>
											{{ @Name }}

											<i class="red trash icon floated"></i>
										</li>
									</div>
								</false>
							</check>

							<check if="{{ !isset(@Item['Data']) }}">
								<true>
									</a>
								</true>
							</check>
						</repeat>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
