<!DOCTYPE html>
<html>
	<head>
		<title>Nimbus Drive — My Drive</title>

		<include href="ui.htm" />
		<link rel="stylesheet" type="text/css" href="/resources/css/drivefiles.css">

		<script type="text/javascript" src="/resources/js/drive.js"></script>
	</head>

	<body>
		<div class="ui sidebar"></div>

		<div class="pusher">
			<include href="navbar.htm" />

			<div class="flex">
				<include href="drive/sidebar.htm" />

				<div class="ui container">
					<ul id="file_list">
						<repeat group="{{ @FileList }}" value="{{ @Item }}" key="{{ @Name }}">
							<check if="{{ isset(@Item['Data']) }}">
								<true>
									<check if="{{ @Item['Data']['hash'] !== NULL }}">
										<true>
											<div class="ui segment flex">
												<div class="ui container">
													<li>
														<i class="file outline icon"></i>
														{{ @Name }}
													</li>
												</div>

												<div class="ui container">
													<i class="red trash icon floated clickable" onclick="SendFileDelete({{ @Item['Data']['id'] }});"></i>
													<i class="blue pencil icon floated clickable" onclick="window.RenamingFile = {{ @Item['Data']['id'] }}; $('#file_rename_modal').modal('show');"></i>
													<i class="green download icon floated clickable"></i>
												</div>
											</div>
										</true>
									</check>
								</true>

								<false>
									<div class="ui segment flex">
										<div class="ui container">
											<a href="{{ '/drive/main/' . @Name }}">
												<li>
													<i class="blue folder icon"></i>
													{{ @Name }}
												</li>
											</a>
										</div>

										<!-- <div class="ui container">
											<i class="red trash icon floated clickable"></i>
										</div> -->
									</div>
								</false>
							</check>
						</repeat>
					</ul>
				</div>
			</div>
		</div>

		<div id="file_rename_modal" class="ui modal">
			<div class="header">Rename File</div>

			<div class="content">
				<form class="ui form">
					<div class="field">
						<label>Enter Name</label>
						<input type="text" name="name" value="">
					</div>
				</form>
			</div>

			<div class="actions">
				<div class="ui primary approve button">Rename</div>
				<div class="ui deny button">Cancel</div>
			</div>
		</div>
	</body>
</html>
