<div id="drivebar" class="ui compact segment">
	<div class="ui">
		<div class="ui dropdown segment">
			<i class="plus icon"></i>
			<div class="text">Create</div>

			<div class="menu">
				<div class="item">
					<i class="icons">
						<i class="file outline icon"></i>
						<i class="corner add icon"></i>
					</i>

					New Text File
				</div>

				<div class="item">
					<i class="icons">
						<i class="folder outline icon"></i>
						<i class="corner add icon"></i>
					</i>

					New Folder
				</div>

				<div class="ui divider"></div>

				<div class="item">
					<i class="icons">
						<i class="file outline icon"></i>
						<i class="corner upload icon"></i>
					</i>

					Upload File
				</div>

				<div class="item">
					<i class="icons">
						<i class="folder outline icon"></i>
						<i class="corner upload icon"></i>
					</i>

					Upload Folder
				</div>
			</div>
		</div>
	</div>

	<div class="ui secondary vertical menu">
		<a class="active item">
			<i class="home icon"></i>
			Home
		</a>

		<a class="item">
			<i class="hdd icon"></i>
			My Drive
		</a>

		<a class="item">
			<i class="users icon"></i>
			Shared Files
		</a>
	</div>
</div>
