<meta name="csrf" content="{{ @SESSION.csrf }}">

<div id="drivebar" class="ui compact segment">
	<div class="ui">
		<div class="ui dropdown segment">
			<i class="plus icon"></i>
			<div class="text">Create</div>

			<div class="menu">
				<div class="item">
					<i class="icons">
						<i class="file outline icon"></i>
						<i class="corner add icon"></i>
					</i>

					New Text File
				</div>

				<div class="item">
					<i class="icons">
						<i class="folder outline icon"></i>
						<i class="corner add icon"></i>
					</i>

					New Folder
				</div>

				<div class="ui divider"></div>

				<div class="item">
					<i class="icons">
						<i class="file outline icon"></i>
						<i class="corner upload icon"></i>
					</i>

					Upload File
				</div>

				<div class="item">
					<i class="icons">
						<i class="folder outline icon"></i>
						<i class="corner upload icon"></i>
					</i>

					Upload Folder
				</div>
			</div>
		</div>
	</div>

	<div class="ui secondary vertical menu">
		<a class="{{ @DriveTab === 'Home' ? 'active' : '' }} item" href="/drive/home">
			<i class="home icon"></i>
			Home
		</a>

		<a class="{{ @DriveTab === 'Main' ? 'active' : '' }} item" href="/drive/main">
			<i class="hdd icon"></i>
			My Drive
		</a>

		<a class="{{ @DriveTab === 'Shared' ? 'active' : '' }} item" href="/drive/shared">
			<i class="users icon"></i>
			Shared Files
		</a>
	</div>
</div>

<div id="folder_creation_modal" class="ui modal">
	<div class="header">Create Folder</div>

	<div class="content">
		<form class="ui form">
			<div class="field">
				<label>Enter Name</label>
				<input type="text" name="name" value="New Folder">
			</div>
		</form>
	</div>

	<div class="actions">
		<div class="ui primary approve button">Create</div>
		<div class="ui deny button">Cancel</div>
	</div>
</div>

<div id="file_upload_modal" class="ui modal">
	<div class="header">Upload File</div>

	<div class="content">
		<form class="ui form">
			<div class="field">
				<label>Select File</label>
				<input type="file" name="file">
			</div>
		</form>
	</div>

	<div class="actions">
		<div class="ui primary approve button">Upload</div>
		<div class="ui deny button">Cancel</div>
	</div>
</div>
